
md-button {
  margin-bottom: 10px;
  padding-bottom: 0.2em;
  padding-top: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: relative;
}

.next {
  margin-left: 40%;
}

.start {
  margin-left: 60%;
}

.back {
  margin-left: 1%;  
}

.lease-form-btn {
  display: flex;
}

.row > * {
  font-size: inherit;
  margin-left: 8px;
  margin-right: 8px; 
}

