Welcome to the Lease Calculator

<div id="customerInfo" ng-show="customerInfo">
  First Name: <input type="text" ng-model="customer.firstName" /> <br />
  Last Name: <input type="text" ng-model="customer.lastName" /> <br />
  Email: <input type="email" ng-model="customer.email" /> <br />

  <button ng-click="switchCustomerCarInfo()">Next</button>
</div>

<div id="carInfo" ng-show="carInfo">
  Make: <input type="text" ng-model="car.make"> <br />
  Model: <input type="text" ng-model="car.model"> <br />
  Year: <input type="number" ng-model="car.year"> <br />
  Miles: <input type="number" ng-model="car.miles"> <br />

  <button ng-click="switchCustomerCarInfo()">Back</button> 
  <button ng-click="switchCarLeaseInfo()">Next</button>
</div>

<div id="leaseInfo" ng-show="leaseInfo">
  Maximum miles per year: <input type="number" ng-model="lease.maxMiles"> <br />
  Cost per mile over the limit: <input type="number" ng-model="lease.costPerMile"> <br />
  Length of Lease in years: <input type="number" ng-model="lease.lengthOfLease"> <br />
  Current Month in Lease: <input type="number" ng-model="lease.currentMonthInLease"> <br />

  <button ng-click="switchCarLeaseInfo()">Back</button> 
  <button ng-click="prepareSummary()">Next</button>
</div>

<div id="leaseSummary" ng-show="leaseSummary">
  Current miles on the car: {{ car.miles }} <br />
  Miles driven per year: {{ milesDrivenPerYear | number:2 }} <br />
  Estimated miles driven in the end of lease: {{ estimatedTotalMiles | number:2 }} <br />

  <div ng-show="overrageMessage">
    Miles over the limit: {{ -differenceInMiles | number:2 }} <br />
    Estimated charges: {{ -estimatedCharges | currency }} <br />
    Suggest budget {{ suggestedBudget | number:2 }} miles per month or {{ suggestedBudget * 12 | number:2 }} miles per Year <br />
  </div>

  <div ng-hide="overrageMessage">
    You are doing well. Keep on driving at the same rate! :)
  </div>
  <button ng-click="switchLeaseInfoSummary()">Back</button>

</div>